<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>happiness.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>046676D81CD8EC7B00F26B7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>046676EC1CD8EC7C00F26B7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>046676F71CD8EC7C00F26B7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
